site_name: pablo's docs
site_url: https://pablob.eu/
theme:
    logo: assets/favicon/safari-pinned-tab.svg
    favicon: assets/favicon/favicon.ico
    name: material
    language: en
    custom_dir: overrides
    font: false
    palette:
        - scheme: slate
          primary: amber
          accent: light blue
          toggle:
              icon: material/weather-night
              name: Cambiar a modo claro
        - scheme: default
          primary: amber
          accent: light blue
          toggle:
              icon: material/brightness-7
              name: Cambiar a modo oscuro
    features:
        - navigation.indexes
        - navigation.top
        - search.suggest
        - search.highlight
        - search.share
        - navigation.sections
        - navigation.tabs
        - content.code.copy
        - content.tooltips

markdown_extensions:
    - attr_list
    - md_in_html
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - admonition
    - pymdownx.details
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
          use_pygments: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - def_list
    - tables
    - abbr
    - pymdownx.emoji:
          emoji_index: !!python/name:pymdownx.emoji.twemoji
          emoji_generator: !!python/name:pymdownx.emoji.to_svg

extra_css:
    - css/styles.css
extra_javascript:
    - js/minecraft.js
extra:
    link_copyright: https://github.com/pbl0/
    generator: false
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/pbl0/pablob.eu
        - icon: fontawesome/brands/telegram
          link: https://t.me/pablobls
        - icon: fontawesome/brands/youtube
          link: https://www.youtube.com/@pbl0_o?sub_confirmation=1

plugins:
    - search
    - blog:
          archive_toc: true
          categories_toc: true
    - glightbox
nav:
    - Blog:
          - blog/index.md
    - About me:
          - Me: me.md
          - My favorite books ↪: https://annas-archive.li/list/XjPLuna?r=5vvf29t
          - Socials:
                - Github ↪: https://github.com/pbl0
                - Telegram ↪: https://t.me/pablobls
                - Youtube ↪: https://www.youtube.com/@pbl0_o?sub_confirmation=1
    - My projects:
          - code.md
          - Paper Telegram Bridge ↪: https://modrinth.com/plugin/paper-telegram-bridge
          - RR Tools ↪: https://rr-tools.eu/
          - Lambda RR ↪: https://lambda.pablob.eu/
          - projects/geoguessr-random-bot.md
          - projects/launchpad2kb.md
          - projects/banana-spleet.md
    - Minecraft: minecraft.md
    - Pictures: https://pics.pablob.eu/
